*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Overpass', sans-serif;
	background-color: var(--very-dark-blue);
	color: var(--white);
}

*:focus {
	outline-style: none;
	box-shadow: 0 0 0 0.2rem hsla(216, 12%, 54%, 0.362);
}

/* Main card */

.main-card {
	background-color: var(--dark-blue);
	margin: 0 1rem;
	margin-bottom: 2rem;
	padding: 2rem;
	border-radius: 15px;
	max-width: 450px;
}

.icon-star {
	background-color: hsl(213, 19%, 23%);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.4rem;
}

.main-card-title {
	margin-bottom: 1.2rem;
}

.main-card-text {
	line-height: 1.8;
	color: var(--light-grey);
	margin-bottom: 1.8rem;
	font-size: 15px;
}

.numbers-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.number {
	background-color: hsl(213, 19%, 23%);
	color: var(--light-grey);
	width: 50px;
	height: 50px;
	font-size: 15px;
	display: flex;
	border: none;
	justify-content: center;
	align-items: center;
	transition: color 0.3s, background-color 0.3s;
	border-radius: 50%;
	cursor: pointer;
}

.number:hover {
	background-color: var(--primary);
	color: var(--white);
}

.btn-submit {
	width: 100%;
	padding: 1rem 0;
	background-color: var(--primary);
	border: none;
	color: var(--white);
	border-radius: 100px;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 2px;
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;
}

.btn-submit:hover {
	background-color: var(--white);
	color: var(--primary);
}

.active {
	background-color: var(--medium-grey);
	color: var(--white);
}

/* Thank you card */

.thanks-card {
	background-color: var(--dark-blue);
	margin: 0 1rem;
	margin-bottom: 2rem;
	padding: 2rem;
	border-radius: 15px;
	max-width: 450px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.thanks-img {
	margin: 2rem 0;
}

.rating-box {
	background-color: hsl(213, 19%, 23%);
	padding: 1.2rem 1rem;
	width: 50%;
	font-size: 15px;
	display: flex;
	border-radius: 100px;
	color: var(--primary);
	margin-bottom: 2.4rem;
}

.thanks-title {
	margin-bottom: 0.8rem;
}

.thanks-text {
	color: var(--medium-grey);
}

.hide-state {
	display: none;
}

/* Frontend Mentor */

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/******************************/
/* BELOW 376px  */
/******************************/

@media (max-width: 23.5em) {
	.main-card {
		padding: 2rem 1rem;
		margin: 0 0.5rem;
		margin-bottom: 2rem;
	}

	.main-card-title {
		margin-bottom: 1rem;
		font-size: 1.6rem;
	}

	.main-card-text {
		line-height: 1.8;
		color: var(--light-grey);
		margin-bottom: 1.8rem;
		font-size: 12px;
	}

	.numbers-box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	.number {
		width: 40px;
		height: 40px;
		font-size: 12px;
	}

	.btn-submit {
		width: 100%;
		padding: 1rem 0;
		font-size: 1rem;
	}

	.thanks-card {
		padding: 2rem 1rem;
		margin: 0 0.5rem;
		margin-bottom: 2rem;
	}

	.thanks-img {
		margin: 1.5rem 0;
	}

	.rating-box {
		padding: 1.2rem 0.5rem;
		width: 60%;
		font-size: 14px;
		margin-bottom: 2.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.thanks-title {
		margin-bottom: 0.8rem;
		font-size: 1.6rem;
	}

	.thanks-text {
		color: var(--medium-grey);
		font-size: 12px;
	}

	.hide-state {
		display: none;
	}
}
